.App {
  /* width: 100vh;
  height: 100%;
  background: grey; */
}
.container{
  width: 100vh;
  height: 100%;
}
.App-logo {
  width: 20%;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 12s linear;
  }
}

.app-Form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 45%;
  height: 550px;
  margin-top: 20px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-Form input {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 30px;
  border-radius: 7px;
}

